.p-banner{
    font-family: 'Montserrat';
    font-size: 12pt;
    color: white;
    background-color: black;
    padding-top: 80px;
    padding-right: 30px;
    font-style: italic;
    font-weight: 400;
}

.txts, .dsc-name, .content{
    font-family: 'Montserrat';
    font-size: 14px;
    font-kerning: auto;
    font-style: initial;
    letter-spacing: 0.02vmax;
    text-align: justify;
    word-spacing: 0.003vmax;
}

h3, h5{
    font-family: 'Montserrat';
    letter-spacing: 0.02vmax;
    word-spacing: 0.003vmax;
}

p{
    font-family: 'Montserrat';
}

.p-track{
    font-family: 'Montserrat';
    font-size: 14px;
    font-kerning: auto;
    font-style: initial;
    letter-spacing: 0.02vmax;
    text-align: justify;
    word-spacing: 0.003vmax;
    margin: auto;
}

.title-tracklist{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: black;
    letter-spacing: 2px;
    margin: auto;
    padding-top:50px;
    padding-bottom: 20px;
    }
