audio {
    filter: sepia(70%) saturate(90%) grayscale(10) contrast(100%) invert(100%);
    width: 500px;
    height: 25px;

}

.img-fluid{
max-width: 500px;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
    .img-sj {
        max-width: 250px;
    }
    .mx-auto{
        text-align: center;
    }
    .audios{
        display: none;
    }
  }
  
/*Desktop*/
@media only screen and (min-width: 768px) {
.img-sj{
  max-height: 100%;
}
.mx-auto{
    text-align: center;
}
}